
$primary-1: #2be6dc;
$primary-2: #1fcbc1;
$primary-3: #14c0b6;

$light-1: #f6f6fa;
$light-2: #e8e9ed;
$light-3: #d8d8de;

$grey-1: #abadb6;
$grey-2: #9598a2;
$grey-3: #7f838e;

$dark-1: #222326;
$dark-2: #17181b;
$dark-3: #141518;

$dark-text-1: #011118;

$gutter: 32px;
$gutter-large: 48px;
$max-width: 1300px;

$color-text:        $dark-2;
$color-background:  #fff;
$color-selection:   #b4d5fe;
