// getting sorted
body, html, .ui-app { min-height: 100vh; }
body{
  margin: 0;
  font-family: "IBM Plex Sans",sans-serif;
  font-size: .875rem;
  line-height: 1.45;
  color: $default-text;
  text-align: left;
  background-color: $background;
}
*, *:before, *:after {
  box-sizing: border-box;
}

// typography
h1, h2, h3, h4, h5, p { margin: 0; }
a {
  color: $brand-color;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}
.icon { font-style: normal; text-decoration: none !important; }

// global structure elements

.ui-left-side {
  @include flexbox;
  min-width: $left-side-width;
  border-right: 1px solid $stroke-color;
  @include bp-small {
    border-right: none;
  }
}

.ui-right-side {
  @include flexbox;
  width: 100%;
}

.ui-header {
  @include flexbox;
  height: $header-height;
  background: $white;
  border-bottom: 1px solid $stroke-color;
  .ui-left-side {
    @include flexbox;
    @include align-items(center);
    .logo { margin-left: $gutter; }
  }
  @include bp-small {
    width: 100%;
  }
}

.ui-app {
  @include flexbox;
  @include flex-direction(column);
  @include bp-small {
    width: 100%;
  }
}

.ui-body { // everything below header, notably the left/right split between the body area + navigation area
  @include flexbox;
  @include flex-direction(row);
  @include flex-grow(10);
  .ui-left-side { background: $navbar-color; }
  .ui-right-side { // everything to the left of the navigation
    @include flexbox;
    @include flex-direction(column);
  }
  @include bp-small {
    width: 100%;
    @include flex-direction(column);
    .ui-left-side {
      border-bottom: 1px solid $stroke-color;
      border-right: none;
      background: white;
    }
  }
}

// Navigation
.ui-navigation {
  @include flexbox;
  @include flex-direction(column);
  width: 100%;
  padding: 0;
  .navigation-group {
    @include flexbox;
    @include flex-direction(column);

    .nav-item {
      @include flexbox;
      @include align-items(center);
      position: relative;
      height: $nav-item-height;
      padding: 0.8em $gutter 0.8em $gutter;
      width: 100%;
      text-decoration: none;
      color: $cool-grey;
      @include transition(all 0.3s ease-in-out);

      .icon {
        font-size: 24px;
        position: relative;
        top: -2px;
        left: -8px;
      }

      &:hover {
        text-decoration: none;
        color: $default-text;
        &:before { left: -3px; opacity: 1; }
      }

      &:before { // "the line" -- animates better w/o using box-shadow
        content: '';
        position: absolute;
        height: 100%;
        width: 6px;
        background: $brand-color;
        left: -6px;
        top: 0;
        opacity: 0;
        @include transition(all 0.3s ease-in-out);
      }
      &.active {
        cursor: default;
        font-weight: 600;
        color: $default-text;
        &:before {
          opacity: 1;
          left: 0;
        }
      }
    }
    &.back-area {
      @include flexbox;
      @include justify-content(center);
      height: $topbar-height;
      .nav-item:before { display: none; }
      @include bp-small {
        height: auto;
        .nav-item {
          background: $lightest-grey;
          padding: $gutter / 2 $gutter;
        }
      }
    }
  }
}



.ui-topbar {
  @include flexbox;
  @include align-items(center);
  min-height: $topbar-height;
  padding: $gutter;
  max-width: 100%;
  background: $navbar-color;
  border-bottom: 1px solid $stroke-color;
  > div, > a {
    @include flex(0 0 auto);
    @include flex-basis(auto);
  }
  h2 { font-weight: 300; }
  .site-info {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    > h2, > a {
      margin-right: $gutter / 1.5;
      line-height: 1.5em;
    }
  }
  .ui-right-side {
    @include flexbox;
    @include flex-direction(row);
    @include flex-grow(2);
    @include justify-content(flex-end);
    width: 50%;
  }

  @include bp-medium {
    padding: $gutter / 1.5;
    @include flex-direction(column);
    @include align-items(flex-start);
    > h2, > a { margin-right: $gutter / 2; }
    .ui-right-side {
      @include flex-wrap(wrap);
      @include justify-content(flex-start);
      padding: $gutter / 2 0 0 0 ;
      width: 100%;
      div {
        @include flex-shrink(0);
        padding: 0 $gutter / 2;
        &:first-child { padding-left: 0px; }
      }
    }
  }

  @include bp-small {
    padding: $gutter / 1.5;
  }
}

.ui-meta-block {
  @include flexbox;
  @include flex-direction(column);
  padding: 0 $gutter / 2;
}

.ui-main { // shold always have a content block udner it -- this puts thing to the side to add support for sidebars
  @include flexbox;
  @include flex-direction(row);
  padding: $gutter;

  .ui-content {
    @include flexbox;
    @include flex-direction(column);
    @include flex-grow(1);
  }
  .ui-hints {
    @include flexbox;
    @include flex-direction(column);
    @include flex(0 0 30em);
    padding-left: $gutter * 1.4;
  }

  @include bp-large {
    @include flex-direction(column);
    .ui-hints { padding-left: 0; }
  }
  @include bp-small {
    padding: $gutter / 1.5;
  }
}
